@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E121B;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    opacity: 50;
  }
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Noto Serif */
@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/noto-serif/static/NotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/noto-serif/static/NotoSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/noto-serif/static/NotoSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/noto-serif/static/NotoSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Source Code Pro */
@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro/static/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro/static/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro/static/SourceCodePro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro/static/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, sans-serif;
}

input {
  all: unset;
}

button {
  @apply pointer-events-auto cursor-pointer;
}

/* Text */
h1 {
  @apply text-2xl leading-[120%] font-bold tracking-[-0.5px];
}

h2 {
  @apply text-xl leading-[120%] font-bold tracking-[-0.5px];
}

h3 {
  @apply text-base leading-[120%] font-semibold tracking-[-0.3px];
}

h4 {
  @apply text-sm tracking-[-0.2px] leading-[120%] font-medium;
}

h5 {
  @apply text-sm tracking-[-0.2px] leading-[120%] font-normal;
}

h6 {
  @apply text-xs tracking-[-0.2px] leading-[120%] font-normal;
}

input {
  @apply px-4 py-3 rounded-lg border border-neutral-300;
}

/* line */
hr {
  @apply border-t border-neutral-700/70 my-4 w-full h-[1px];
}

.ProseMirror.ProseMirror-focused {
  outline: #404040;
}


.tiptap .ProseMirror {
  height: 100%;
  min-height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Basic editor styles */
.tiptap:first-child {
  @apply mt-0;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  @apply pl-4 pr-0 my-5 mr-4;
}

.tiptap li p {
  @apply mt-1 mb-1;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply leading-tight mt-10 text-pretty;
}

.tiptap h1,
.tiptap h2 {
  @apply mt-14 mb-6;
}

.tiptap h1 {
  @apply text-[1.4rem];
}

.tiptap h2 {
  @apply text-[1.2rem];
}

.tiptap h3 {
  @apply text-[1.1rem];
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply text-[1rem];
}

/* Code and preformatted text styles */
.tiptap code {
  @apply bg-purple-200 rounded-md text-black text-[0.85rem] px-2 py-1;
}

.tiptap pre {
  @apply bg-black text-white font-mono rounded-lg my-6 p-4;
}

.tiptap pre code {
  @apply bg-transparent text-inherit text-[0.8rem] p-0;
}

/* Blockquote */
.tiptap blockquote {
  @apply border-l-4 border-gray-300 my-6 pl-4;
}

/* Horizontal rule */
.tiptap hr {
  @apply border-t border-gray-200 my-8;
}


.control-group {
  @apply flex justify-center items-center p-4;
}

.button-group {
  @apply flex flex-wrap gap-3;
}

.button-group button {
  @apply px-4 py-2 text-sm font-medium rounded-full border border-gray-300 bg-white text-gray-700 shadow-sm transition-all duration-200 ease-in-out hover:bg-gray-100 hover:shadow-md disabled:opacity-50 disabled:cursor-not-allowed;
}

.button-group button.is-active {
  @apply bg-purple-500 text-white border-purple-600 shadow-md hover:bg-purple-600;
}

.editor-input{
  all: unset;
  @apply outline-none active:outline-none
}


.seperator {
  @apply border-t border-neutral-700/70 w-full h-[1px];
}

.vertical {
  @apply border-r border-neutral-100 w-[1px] flex;
}

/* button */
.primary-button {
  @apply flex items-center justify-center bg-blue-500 text-white py-3 px-4 text-sm tracking-[-0.2px] leading-[120%] font-medium cursor-pointer;
}

.secondary-button {
  @apply flex items-center justify-center bg-red-500 text-white py-3 px-4 text-sm tracking-[-0.2px] leading-[120%] font-medium cursor-pointer;
}

.neutral-button {
  @apply flex items-center justify-center dark:text-neutral-500 text-neutral-600 py-3 px-4 text-base tracking-[0.5px] leading-[100%] font-medium border border-none bg-neutral-100 dark:bg-neutral-200 cursor-pointer;
}

.tag {
  @apply bg-neutral-200 dark:bg-neutral-700 px-1.5 rounded-sm;
}

/* styles/globals.css */
.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center bg-neutral-950/50 transition-opacity duration-300 ease-in-out;
}

.modal {
  @apply bg-neutral-800/50 p-5 rounded-lg h-fit w-fit;
}